body{
    background-color: rgb(53, 53, 53);
    margin: 0;
    -webkit-user-select: none;
    color: rgb(200, 200, 200);
}


.menu{
    background-color: #6b6b6b;
    height: 28px;
    width: 100%;
    display: flex;
}

.menu-left{
    float: left;
    position: relative;
}

.menu-middle{
    flex: 1;
    -webkit-app-region: drag;
}

.menu-right{
    float: right;
    position: relative;
}

#menu-app-icon{
    height: 20px;
    width: 20px;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.menu-button{
    color: rgb(200, 200, 200);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    outline: none;
    background-color: unset;
    font-family: '游ゴシック';
    font-size: 15px;
    line-height: 28px;
    height: 28px;
}

.menu-button:hover{
    color: white;
    background-color: #7154db;
}

.menu-button:focus{
    color: white;
    background-color: #7154db;
}

.menu-inner-content{
    position: absolute;
    z-index: 1;
    background-color: #555555;
    display: none;
}

.menu-inner-button{
    color: rgb(200, 200, 200);
    display: block;
    border: none;
    outline: none;
    background-color: unset;
    text-align: left;
    width: 200px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: '游ゴシック';
    font-size: 15px;
}

.menu-inner-button:hover{
    color: white;
    background-color: #7154db;
}

.menu-icon{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
}

.wrap{
    display: grid; 
    grid-template-columns: repeat(20, 4.9vw);
    grid-template-rows: repeat(20, 4.8vh);
}


.tile{
    border: 1px solid rgb(107, 107, 107);
    display: flex;
    flex-direction: column;
}

.tile-top{
    background-color: #464646;
    margin:0;
    padding: 0;
}

.tile-title{
    color: rgb(230, 230, 230);
    float: left;
    font-size: 120%;
    width: 100px;
    text-align: center;
    background-color: #383838;
}

.tile-top-button{
    color: rgb(200, 200, 200);
    font-size: 120%;
    background-color: unset;
    border: none;
    outline: none;
    padding-left: 1vh;
    padding-right: 1vh;
    height: 100%;
}

.tile-top-button:hover{
    color: rgb(230, 230, 230);
    background-color: #555555;
}

.tile-top-button:active{
    color: rgb(230, 230, 230);
    background-color: #858585;
}

.tile-content{
    background: #383838;
    flex: 1;
    position: relative;
}

.tile-inner-wrap{
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: auto;
    height: 100%;
}

.smalltile{
    border: 1px solid rgb(107, 107, 107);
    margin: 0.4vh;
    display: flex;
    flex-direction: column;
}

.smalltile-top{
    margin:0;
    padding: 0;
    text-align: center;
    position: relative;
}

.smalltile-title{
    color: rgb(230, 230, 230);
    font-family: '游ゴシック';
    font-size: 2.2vh;
    font-weight:500;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.smalltile-content{
    flex: 1;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewer{
    grid-column-start: 6; 
    grid-column-end: 12; 
    grid-row-start: 1; 
    grid-row-end: 10; 
}

.system{
    grid-column-start: 1; 
    grid-column-end: 6; 
    grid-row-start: 1; 
    grid-row-end: 5; 
}

.setting{
    grid-column-start: 1; 
    grid-column-end: 6; 
    grid-row-start: 5; 
    grid-row-end: 10;
}

.cui{
    grid-column-start: 12; 
    grid-column-end: 22; 
    grid-row-start: 1; 
    grid-row-end: 10;
    min-width: 300px;
}

.status{
    grid-column-start: 1; 
    grid-column-end: 22; 
    grid-row-start: 17; 
    grid-row-end: 21;
}

.chart{
    grid-column-start: 1; 
    grid-column-end: 22; 
    grid-row-start: 10; 
    grid-row-end: 17;
}


#viewer-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rocketimg{
    transform: rotate(15deg);
    height: 35vmin;
}


.setting-row{
    height: 3vh;
    display: block;
    margin-top: 0.6vh;
}

.setting-row label{
    display: block;
    float: left;
    width: 13vh;
    line-height: 3vh;
    font-size: 2.1vh;
    font-family: '游ゴシック';
}

.setting-row label::after{
    content: ": ";
}

.setting-content{
    line-height: 3vh;
}

.setting-selector{
    color: rgb(200, 200, 200);
    line-height: 3vh;
    font-size: 2.1vh;
    font-family: '游ゴシック';
    border: none;
    outline: none;
    background-color: unset;
}

.setting-selector select{
    outline: none;
}

.setting-selector:focus{
    background-color: #555555;
    color: rgb(230, 230, 230);
}

.setting-selector:hover{
    background-color: #555555;
    color: rgb(230, 230, 230);
}


#cui-text-area{
    height: 92%;
    width: 100%;
    position: absolute;
    bottom: 8%;
    overflow-y: scroll;
    -webkit-user-select: text;
}

#cui-input-area{
    height: 8%;
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
    border-top: 1px solid rgb(107, 107, 107);
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: unset;
}
::-webkit-scrollbar-thumb{
    background: rgb(107, 107, 107);
}

#cui-input-arrow{
    font-size: 2.2vh;
    font-family: '游ゴシック';
    position: relative;
    margin: 0;
    padding: 0;
}

#cui-inputfield{
    flex: 1;
    position: relative;
}

#cui-input{
    color: rgb(230, 230, 230);
    font-size: 2.2vh;
    font-family: '游ゴシック';
    position: absolute;
    width: 100%;
    background-color: unset;
    border: none;
	box-sizing: border-box;
}

#cui-input:focus {
	outline: none;
}

#cui-input:focus:after {
	outline: none;
}

.cui-text{
    color: rgb(230, 230, 230);
    font-size: 1.8vh;
    font-family: '游ゴシック';
    margin:0;
    padding: 0;
    margin-left: 7px;
    word-wrap: break-word;
}


.systemstatuslist{
    list-style: none;
    padding:0;
    margin:0;
    margin-top: 3px;
    margin-left: 5px;
}

.systemstatus{
    font-size: 1.7vh;
    font-family: '游ゴシック';
}

.systemstatus-green{
    color: rgb(230, 230, 230);
}

.systemstatus-red{
    color: rgb(150, 150, 150);
}

.systemstatus-green:before{
    content: "● ";
    color: greenyellow;
}

.systemstatus-red:before{
    content: "● ";
    color: red;
}


.status-value{
    color: rgb(230, 230, 230);
    font-size: 1.6vmin;
    font-family: '游ゴシック';
    padding:0;
    margin:0;
    text-align: center;
    -webkit-user-select: text;
}


.status-sequence{
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 3;
}

.status-time{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2;
}

.status-height{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 3;
}

.status-temperature{
    grid-column-start: 3; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2;
}

.status-pressure{
    grid-column-start: 3; 
    grid-column-end: 4; 
    grid-row-start: 2; 
    grid-row-end: 3;
}

.status-accel{
    grid-column-start: 4; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 2;
}

.status-gyro{
    grid-column-start: 4; 
    grid-column-end: 5; 
    grid-row-start: 2; 
    grid-row-end: 3;
}

.status-gps{
    grid-column-start: 5; 
    grid-column-end: 6; 
    grid-row-start: 1; 
    grid-row-end: 3;
}